.recipe-detail {
    display: flex;
    padding: 20px;
    background-color: var(--background-light);
    color: var(--text-color);
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--shadow-color);

    .image-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 2rem;
            color: var(--text-color);
            margin-bottom: 5px;
        }

        p {
            margin-bottom: 0;
        }

        .cuisine {
            margin-top: 0.5em; /* Added margin for spacing */
            color: var(--text-color); /* Ensuring the text color is consistent */
        }

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
            border-radius: 10px;
            object-fit: cover;
            padding: 1em;
        }
    }

    .details {
        width: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;

        h2 {
            color: var(--text-color);
            margin-top: 20px;
            font-size: 1.5rem;
            border-bottom: 2px solid var(--primary-color);
            padding-bottom: 5px;
        }

        .preparation-level {
            margin-top: 0.5em; /* Ensuring spacing is consistent with cuisine */
        }

        ul {
            list-style-type: disc;
            li {
                background: var(--background-light);
                margin: 7px 0;
                padding: 3px;
                border: 2px solid var(--border-color);
                border-radius: 4px;
                transition: background-color 0.3s;

                &:hover {
                    background: var(--hover-background);
                }
            }
        }

        ol {
            list-style-type: decimal;
        }
    }
}
